receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4317

processors:

extensions:
  health_check: {}

exporters:
  otlp:
    endpoint: jaeger:4317
  prometheus:
    endpoint: 0.0.0.0:9091

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp]
    metrics:
      receivers: [otlp]
      exporters: [prometheus]