name: platform-app

include:
  - docker/service/flatnotes.yml
  - docker/service/opentelemetry.yml

services:
  app:
    image: internal/app
    networks:
      - elastic
      - db_storage
    ports:
      - 8080:3000
    env_file: .env.docker
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=jaeger:4318
      - PLATFORM_EMAIL_HOST=mailhog
      - PLATFORM_EMAIL_PORT=1025
      - PLATFORM_EMAIL_FROM=noreply@platform-app.local
    volumes:
      - ./appdata:/app

  mailhog:
    image: mailhog/mailhog:latest
    networks:
      - db_storage
    ports:
      - 1025:1025
      - 8025:8025

networks:
  db_storage:
    external: true
  elastic:
    driver: bridge
