<fieldset class="form-group">
    <legend class="form-label mb-3">
        Gender
        <span class="text-danger">*</span>
    </legend>
    <div>
        <div class="form-check">
            <input 
                class="form-check-input"
                type="radio"
                id="gender_male"
                name="gender"
                value="male"
            />
            <label class="form-check-label" for="gender_male">
                Male
            </label>
        </div>
        <div class="form-check">
            <input 
                class="form-check-input"
                type="radio"
                id="gender_female"
                name="gender"
                value="female"
                checked
            />
            <label class="form-check-label" for="gender_female">
                Female
            </label>
        </div>
        <div class="form-check">
            <input 
                class="form-check-input"
                type="radio"
                id="gender_other"
                name="gender"
                value="other"
            />
            <label class="form-check-label" for="gender_other">
                Other
            </label>
        </div>
    </div>
    <small class="form-text text-muted d-block mt-2">Select your gender</small>
</fieldset>
