---
services:
  pulse:
    image: titpetric/pulse
    networks:
      - projects-ingress
    environment:
      - USER_JWT_SIGNING_KEY=change-me
    volumes:
      - $PWD/docker/data:/app
    labels:
      caddy: pulse.incubator.to, http://pulse.localhost
      caddy.reverse_proxy: "{{upstreams 8080}}"

  pulse-client:
    image: titpetric/pulse
    depends_on:
      - pulse
    networks:
      - projects-ingress
    user: root
    privileged: true
    volumes:
      - $PWD/docker/clientdata:/app
      - /dev/input:/dev/input:ro
    command:
      - "record"
      - "--server"
      - "http://pulse:8080"
      - "--duration"
      - "5m"

networks:
  projects-ingress:
    external: true
