.site-footer {
    position: sticky;
    top: 100vh;
    padding-block: var(--space-2xl);
    font-size: 0.75em;
}

.site-footer p {
    text-wrap: balance;
}

.site-footer .copyright {
    margin-inline-start: -0.1em;
}

.site-footer .icon {
    --_size: 1.2em;
    position: relative;
    top: 0.2em;
    margin-inline: 0.1em;
    width: var(--_size);
    height: var(--_size);
    color: red;
}

.site-footer .cluster {
    --gap: var(--space-2xs);
}

.site-footer li {
    display: flex;
    align-items: center;
    gap: 0.2em;
}
